<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Wikiphidia </title>
	<link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="container" id="app"></div>
	<script> var USER =<%- user %>; </script>
	<script src='/all.js'></script>
</body>
</html>